[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-countries = "*"
tzdata = "*"
django-seed = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"
