{% extends "base.html" %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container mx-auto pb-10">
        <div class="rounded-xl mx-auto h-50vh mt-32 mb-24 bg-center bg-cover" style="background-image: url(https://wallpaperaccess.com/full/6245.jpg)"></div>
        <div class="flex flex-wrap mb-10">
            {% for room in rooms %}
                {% include 'mixins/room_card.html' with room=room%}
            {% endfor %}
        </div>
        <div class="text-center">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-arrow-left fa-lg text-teal-500"></i></a>
            {% endif %}
            <span class="mx-3 font-medium text-lg">
                {% blocktrans with current_page=page_obj.number total_page=page_obj.paginator.num_pages %}Page {{ current_page }} of {{ total_page }}{% endblocktrans %}
            </span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-arrow-right fa-lg text-teal-500"></i></a>
            {% endif %}
        </div>
    </div>


{% endblock %}